# Dependencies
node_modules/

# Build output
dist/
build/
*.zip
*.crx
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Private keys
key.pem

# 运行指令
run.txt

*_env/

*/simple.py